<head>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<img src="http://bit.ly/1eze8aE" />
<h1>My name is <%=@cat_name %></h1>
<form action='/named_cat' method='post'>
  Cat's name:<br>
  <input type="text" name="cats_name"><br>
  Last name:<br>
  <input type='text' name='lastname'><br>
  <input type='submit' value='Name Cat'>
</form>
